.toDo{
    display: grid;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: lightgoldenrodyellow;
    padding: 20px 15px;
    max-inline-size: fit-content;
    border-radius: 10px;
    position: relative;
    left: 50%;
    translate: -50%;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}