.teste{
    width: calc(100% - 230px);
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
}
.lista{
    padding-top: 4rem;
    list-style: none;
    margin-left: 20px;
}
.lista li{
    margin-bottom: 10px;
}
.lista div{
    display: grid;
    border-radius: 12px;
    background-color: black;
    overflow: hidden;
    object-fit: fill;
    height: 272px;
    width: 50%;
    max-width: 480px;
    justify-content: center;
    align-content: center;
}
.lista img{
    height: 100%;
    cursor: pointer;
}
.video{
    display: flex;
    gap: 15px;
    font-size: 18px;
}
.videoInfo{
    width: 50%;
}
.videoInfo h4{
    margin-top: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 300;
}