.boxListVideos{
    width: calc(100% - 230px);
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
}
.list{
    padding-top: 4rem;
    list-style: none;
}
.list li{
    margin-bottom: 10px;
}
.thumb{
    display: grid;
    position: relative;
    border-radius: 12px;
    background-color: black;
    overflow: hidden;
    object-fit: fill;
    height: 272px;
    width: 50%;
    max-width: 480px;
    justify-content: center;
    align-content: center;
    background-size: cover;
}
.thumb > img{
    height: 100%;
}
.list > img{
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}
.video{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 18px;
}
.videoInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.videoInfo h4{
    margin-top: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 700;
}
.publishedTime::before{
    content: "•";
    margin: 0 4px;
}
.duration{
    position: absolute;
    z-index: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 5px;
    right: 5px;
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-weight: 500;
    padding: 0 2px;
    border-radius: 4px;
    font-family: "Roboto", "Arial", sans-serif;
    cursor: pointer;
}
.content{
    position: relative;
    display: flex;
    flex-direction: column;
}
.newVideo, .hd {
    display: inline;
    z-index: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-weight: 500;
    padding: 2px 5px;
    border-radius: 4px;
    font-family: "Roboto", "Arial", sans-serif;
}
.channel{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon{
    border-radius: 50%;
}